<div class="contacto">
    <div class="fondo-rojo"></div>
    <p>Contactanos</p>

    <div class="contenedor-contenido">

        <div class="form-contact-container">
            <div class="title">
                <h3>Envianos un mensaje</h3>
                <p>Nos encantaría ayudarte con tu próximo proyecto.</p>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">

                <div>
                    <label for="name">Nombre:</label>
                    <input id="name" type="text" formControlName="from_name" placeholder="Ingrese su nombre">
                    <div
                        *ngIf="contactForm.get('from_name')?.invalid && (contactForm.get('from_name')?.dirty)">
                        <span class="alert">El nombre es requerido.</span>
                    </div>
                </div>

                <div>
                    <label for="email">Email:</label>
                    <input id="email" type="email" formControlName="from_email" placeholder="Ingrese su email">
                    <div
                        *ngIf="contactForm.get('from_email')?.invalid && (contactForm.get('from_email')?.dirty)">
                        <span *ngIf="contactForm.get('from_email')?.errors?.['required']" class="alert" >El email es requerido.</span>
                        <span *ngIf="contactForm.get('from_email')?.errors?.['email']" class="alert" >Por favor, ingrese un email
                            válido.</span>
                    </div>
                </div>

                <div>
                    <label for="phone">Número de teléfono:</label>
                    <input type="tel" id="phone" formControlName="phone" name="phone" placeholder="Ingrese su número">
                </div>
                <div>
                    <label for="message">Mensaje:</label>
                    <textarea id="message" formControlName="message" rows="10" maxlength="500"
                        placeholder="Me comunico por..." class="limited-input"></textarea>
                    <div
                        *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty)">
                        <span class="alert">El mensaje es requerido.</span>
                    </div>
                </div>

                <div class="button-group">
                    <div class="social">
                        <a href="https://www.facebook.com/share/16phA2xeNm/?mibextid=wwXIfr" target="_blank"
                            aria-label="Facebook Borgert y Cía."><fa-icon [icon]="iconoFacebook"
                                class="icono-social"></fa-icon></a>
                        <a href="https://www.instagram.com/borgertycia?igsh=MWw4bm9rdmJoa2kyOQ==" target="_blank"
                            aria-label="Instagram Borgert y Cía."><fa-icon [icon]="iconoInstagram"
                                class="icono-social"></fa-icon></a>
                    </div>
                    <button class="send-btn" type="submit" [disabled]="!contactForm.valid">Enviar</button>
                </div>
            </form>
        </div>

        <div class="location-container">

            <div class="location">
                <p>Casa central</p>
                <div class="direcciones">

                    <div class="container">
                        <fa-icon [icon]="iconoUbicacion" class="icono-grande sucursal"></fa-icon>
                        <div class="direccion-text">
                            <p class="direccion-title">Dirección</p>
                            <p class="direccion-texto">
                                Fray Mocho 255, Villa Aranguren, Entre Ríos.
                            </p>
                        </div>
                    </div>

                    <div class="container">
                        <fa-icon [icon]="iconoTelefono" class="icono-grande sucursal"></fa-icon>
                        <div class="telefonos">
                            <div class="telefonos-text">
                                <p class="direccion-title">WhatsApp</p>
                                <p class="direccion-texto">3436 638050</p>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="telefonos-text">
                                <p class="direccion-title">Teléfono</p>
                                <p class="direccion-texto">03436-498098 / 16</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <fa-icon [icon]="iconoCorreo" class="icono-grande sucursal"></fa-icon>
                        <div class="direccion-text">
                            <p class="direccion-title">Correo</p>
                            <p class="direccion-texto">
                                casacentral@borgertycia.com.ar
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="location">
                <p>Sucursal Paraná</p>
                <div class="direcciones">

                    <div class="container">
                        <fa-icon [icon]="iconoUbicacion" class="icono-grande"></fa-icon>
                        <div class="direccion-text">
                            <p class="direccion-title">Dirección</p>
                            <p class="direccion-texto">
                                Churruarín 55, Paraná, Entre Ríos
                            </p>
                        </div>
                    </div>

                    <div class="container">
                        <fa-icon [icon]="iconoTelefono" class="icono-grande"></fa-icon>
                        <div class="telefonos">
                            <div class="telefonos-text">
                                <p class="direccion-title">WhatsApp</p>
                                <p class="direccion-texto">3436 638029</p>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="telefonos-text">
                                <p class="direccion-title">Teléfono</p>
                                <p class="direccion-texto">0343-4246305</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <fa-icon [icon]="iconoCorreo" class="icono-grande"></fa-icon>
                        <div class="direccion-text">
                            <p class="direccion-title">Correo</p>
                            <p class="direccion-texto">
                                sucursalparana@gmail.com.ar
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>