.banner-conocenos {
  background-image: url('/conocenos.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 15rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);

}

.banner-presente {
  background-image: url('/presente.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 20rem;
  width: 100%;

  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 10vw;
  }

.banner-conocenos h1 {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  z-index: 1;
}

.banner-presente h3 {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  z-index: 1;
}

.banner-presente p {
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  z-index: 1;
}

@media (min-width: 1024px) {

  .banner-conocenos {
    height: 45vh;
    padding: 0 10vw;
  }

  .banner-conocenos h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}